@font-face {
  font-family: "SFUi";
  src: url("fonts/light/SFUIDisplay-Light.eot");
  src: url("fonts/light/SFUIDisplay-Light?#iefix") format("embedded-opentype"),
    url("fonts/light/SFUIDisplay-Light.woff") format("woff2"), url("fonts/light/SFUIDisplay-Light.woff") format("woff"),
    url("fonts/light/SFUIDisplay-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/Black/ProximaNova-Black.eot");
  src: url("fonts/ProximaNova/Black/ProximaNova-Black?#iefix") format("embedded-opentype"),
    url("fonts/ProximaNova/Black/ProximaNova-Black.woff") format("woff2"),
    url("fonts/ProximaNova/Black/ProximaNova-Black.woff") format("woff"),
    url("fonts/ProximaNova/Black/ProximaNova-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/Bold/ProximaNova-Bold.eot");
  src: url("fonts/ProximaNova/Bold/ProximaNova-Bold?#iefix") format("embedded-opentype"),
    url("fonts/ProximaNova/Bold/ProximaNova-Bold.woff") format("woff2"),
    url("fonts/ProximaNova/Bold/ProximaNova-Bold.woff") format("woff"),
    url("fonts/ProximaNova/Bold/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/RegularIt/ProximaNova-RegularIt.eot");
  src: url("fonts/ProximaNova/RegularIt/ProximaNova-RegularIt?#iefix") format("embedded-opentype"),
    url("fonts/ProximaNova/RegularIt/ProximaNova-RegularIt.woff") format("woff2"),
    url("fonts/ProximaNova/RegularIt/ProximaNova-RegularIt.woff") format("woff"),
    url("fonts/ProximaNova/RegularIt/ProximaNova-RegularIt.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/Regular/ProximaNova-Regular.eot");
  src: url("fonts/ProximaNova/Regular/ProximaNova-Regular?#iefix") format("embedded-opentype"),
    url("fonts/ProximaNova/Regular/ProximaNova-Regular.woff") format("woff2"),
    url("fonts/ProximaNova/Regular/ProximaNova-Regular.woff") format("woff"),
    url("fonts/ProximaNova/Regular/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/Light/ProximaNova-Light.eot");
  src: url("fonts/ProximaNova/Light/ProximaNova-Light?#iefix") format("embedded-opentype"),
    url("fonts/ProximaNova/Light/ProximaNova-Light.woff") format("woff2"),
    url("fonts/ProximaNova/Light/ProximaNova-Light.woff") format("woff"),
    url("fonts/ProximaNova/Light/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "ProximaNova";
  src: url("fonts/ProximaNova/Thin/ProximaNova-ThinIt.eot");
  src: url("fonts/ProximaNova/Thin/ProximaNova-ThinIt?#iefix") format("embedded-opentype"),
    url("fonts/ProximaNova/Thin/ProximaNova-ThinIt.woff") format("woff2"),
    url("fonts/ProximaNova/Thin/ProximaNova-ThinIt.woff") format("woff"),
    url("fonts/ProximaNova/Thin/ProximaNova-ThinIt.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: "ProximaNova", Arial, Helvetica, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}
::placeholder {
  font-family: "ProximaNova", Arial, Helvetica, sans-serif !important;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
h1 {
  font-size: 63px;
  line-height: 86px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
h2 {
  font-weight: 400;
  margin-top: 0;
}
.title3 {
  font-style: italic;
  font-weight: 200;
}
#scene {
  background: linear-gradient(to right, #072daa, #01029a);
}
.main {
  height: 100vh;
  color: #fff;
  font-weight: normal;
  width: 100vw;
  position: absolute;
  top: 0;
}

.bg1 {
  background: url("images/bg_uma-min.png") left center no-repeat;
  background-size: contain;
  height: 104vh;
  width: 104vw;
  margin-left: -2vw;
  margin-top: -2vh;
  background-blend-mode: color-dodge;
  mix-blend-mode: color-dodge;
}
.bg3 {
  background: url("images/bg3.png") left center no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  mix-blend-mode: color-dodge;
  top: 0;
  left: 0;
  width: 100vw;
  margin-left: -4vw;
  opacity: 0;
  animation: show_lines 1.2s cubic-bezier(0.2, 0.6, 0.2, 1) forwards;
}
.bg2 {
  background: url("images/bg4.png") left center no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  mix-blend-mode: color-dodge;
  top: 0;
  left: 0;
  width: 100vw;
  margin-left: -4vw;
  opacity: 0;
  animation: show_lines 1.2s cubic-bezier(0.2, 0.6, 0.2, 1) forwards;
}

.content_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.content_center__block {
  display: flex;
  min-width: 670px;
  width: 90%;
  max-width: 95%;
  max-height: 95vh;
  max-width: 1500px;
  justify-content: space-between;
}

.category_description {
  margin-top: 5vh;
  font-size: 19px;
}
.category__item {
  font-size: 25px;
  margin-top: 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.footer {
  margin-top: 36px;
  font-size: 16px;
  // right: 5%;
}

.copyrite {
  margin-left: 40px;
  display: inline-block;
  float: right;
}

.uma_email {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  float: left;
}

.uma_email i {
  vertical-align: middle;
  margin-right: 10px;
}

.logo {
  background: #0d5ade;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.logo img {
  height: 35px;
  position: absolute;
}

.logo_eng.hide {
  display: none;
}

.rus .logo_rus,
.eng .logo_eng {
  -webkit-animation: show_logo 1.2s cubic-bezier(0.2, 0.6, 0.2, 1) forwards;
  animation: show_logo 1.2s cubic-bezier(0.2, 0.6, 0.2, 1) forwards;
}

.eng .logo_rus,
.rus .logo_eng {
  -webkit-animation: hide_logo 1.2s cubic-bezier(0.2, 0.6, 0.2, 1) forwards;
  animation: hide_logo 1.2s cubic-bezier(0.2, 0.6, 0.2, 1) forwards;
  /* display: none; */
}

.logo:hover {
  cursor: pointer;
}
.period {
  font-family: "ProximaNova", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 51px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 70px;
}
.rus .category,
.rus .footer {
  -webkit-animation: show_rustext 1s ease-in-out;
  animation: show_rustext 1s ease-in-out;
}

.eng .category,
.eng .footer {
  -webkit-animation: show_engtext 1s ease-in-out;
  animation: show_engtext 1s ease-in-out;
}
.form_block {
  height: 90%;
  background: rgba(2, 8, 149, 0.8);
  padding: 45px 61px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-content {
  text-align: left;
}
.form_bottom {
  font-style: italic;
  font-weight: 200;
}
.form-title {
  text-transform: uppercase;
  font-weight: 600;
}
.form-description {
  margin-bottom: 25px;
  font-weight: 300;
}
.content_top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.content_right__block {
  width: 40%;
  max-width: 450px;
  margin-top: 90px;
}
.content_left {
  width: 60%;
  margin-right: 5%;
}
.content_center-bottom {
  font-size: 21px;
  line-height: 27px;
  font-weight: 600;
  margin-top: 25px;
}
input {
  height: 45px;
  border: 0;
  margin-bottom: 21px;
  padding: 0 15px;
}
.point {
  background: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  position: relative;
  border-radius: 100%;
  margin-right: 12px;
}
.point::before {
  content: "";
  background: #0059e5;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
}
.buttonsend {
  margin-top: 15px;
  background: #0d5ade;
  box-shadow: 0px 0px 10px #024f96;
  height: 45px;
  border: 0;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "ProximaNova", Arial, Helvetica, sans-serif;
}
.buttonsend:hover {
  cursor: pointer;
}

@-webkit-keyframes show_lines {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes show_logo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(130%);
    transform: translateX(130%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes show_logo {
  0% {
    opacity: 0;
    -webkit-transform: translateX(130%);
    transform: translateX(130%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes hide_logo {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-130%);
    transform: translateX(-130%);
  }
}

@keyframes hide_logo {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-130%);
    transform: translateX(-130%);
  }
}

@-webkit-keyframes show_rustext {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show_rustext {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes show_engtext {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show_engtext {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show_engtext {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .main {
    background: url("images/bg1_mob-min.jpg") left center no-repeat;
    background-size: cover;
  }

  .content_center {
    display: block;
    background: rgba(9, 63, 239, 0.5);
  }

  .content_center__block {
    margin-top: 60px;
    position: static;
    min-width: auto !important;
    width: 100%;
  }

  .logo {
    width: 60vw;
    margin: 0 auto;
    height: auto;
    padding: 40px 0px;
  }

  .logo img {
    max-height: 57%;
    max-width: 90%;
  }

  .category {
    margin-left: 20vw;
  }

  .category__item {
    font-size: 24px;
    margin-top: 22px;
  }

  .footer {
    margin-left: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 20vw;
    right: auto;
    min-width: auto !important;
  }

  .uma_email {
    margin-left: 0;
    display: block;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .copyrite {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 11px;
  }
}
